body {
  margin: 0;
  padding: .5em;
}

label {
  font-size: large;
}

form {
  width: 300px;
  height: 70%;
  padding-right: 0;
  border: 1px solid #abb1ba;
  margin-top: 1em;
}

h2 {
  width:60px;
  padding-left: 0;
  padding-top: : 0;
  margin-top: -17px;
  margin-bottom: 1em;
  margin-left: 7px;
  background-color: white;
}

.weather-container {
  padding-left: 5px;
}

#email {
  margin-left: 5px;
  margin-bottom: .5em;
}

#pass {
  margin-left: 5px;
}

#login {
  margin-left: 1em;
  margin-top: 15px;
  margin-bottom: 2em;
  font-weight: bold;
}

#passLabel {
  margin-top: 1em;
  margin-left: 5px;
}

#eLabel {
  margin-left: 5px;
}
